@charset "utf-8";
.brand {
  padding: 10px 10px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  background: url(../images/brand/produce.jpg) no-repeat center;
  margin: 0 auto;
  background-size: cover;
}
.brand-intro {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}
.brand-intro img {
  width: 30%;
  height: 30%;
  display: flex;
}
.brand-intro ul li p {
  color: rgb(112, 112, 112);
  font-size: 1.5rem;
  font-weight: 500;
}
.brand-intro ul li {
  color: beige;
}
