@charset "utf-8";
.contact {
  width: 100%;
  height: 100%;
}
.contact h2 {
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  color: aliceblue;
  margin: 4% 0;
}
.contact_box {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

/* 하단 푸터부분 */
.footer-intro {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.footer_sns img {
  width: 50%;
  height: 50%;
}
/* 이용약관부분 */
.intro{
  font-family: "Jua", sans-serif;
  font-style:normal;
}
/* 지도부분 */

