@charset "utf-8";
.event {
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  padding: 10px 10px;
  /* margin: 0 auto; */
}
.event-logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.event-logo a{
  width: 100%;
  margin: 0 auto;
  display: block;
}
.event-logo img{
  /* width: 80%; */
}
.event-list-area{
  display: flex;
  /* flex-wrap: wrap */
}
.event-list-area img{
  margin-top: 15px;
}
.event-list{
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  gap: 30px;
  /* background-color: cadetblue; */
  padding: 10px 10px;
  flex-wrap: wrap;
}
.event-list a p{
  /* font-size: 3.4rem; */
  font-family: "Jua", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
#evt-free{
  transform: translateY(-6%);
  z-index: -9 !important;
}
.evt_desc{
  z-index: 9999 !important;
}
.evt-tit{
  font-size: 50px;
  color:  #f13a49;
}

/* 형광펜 효과 시작 */
p.evt_desc {
  position: relative;
  font-size: 34px;
  top:0; 
  left:0;
  color:#016ed5; 
}

p.evt_desc::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translate(-50%);
  width: 87%;
  height: 20%;
  background-color: #f3f034c5;
  border-radius: 25px;
  z-index: -1;
}

/* 반응형 */