@charset "utf-8";
/* 메인 이미지 */
.main-img {
  width: 100%;
}
.main-img img {
  width: 50%;
  border-radius: 30%;
  transform: translateX(53%);
}
/* 상품 이름, 가격 */
.main-letter {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  border-bottom: 2px solid #eeeded;
  font-family: "Jua", sans-serif;
}
.main-letter p {
  color: #fff;
  padding-bottom: 40px;
  font-size: 45px;
  font-weight: 100;
  /* border-bottom: 2px solid #eeeded; */
  /* font-family: "Jua", sans-serif; */
}
/* 수량버튼 */
.count-wrap {
  width: 100%;
  margin: 30px;
  font-family: "Jua", sans-serif;
  text-align: center;
}
.count-wrap p {
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
}
.count-wrap .minus {
  font-size: 50px;
  width: 100px;
  border-radius: 50px;
}
.count-wrap .plus {
  font-size: 50px;
  width: 100px;
  border-radius: 50px;
}
.count-wrap .inp {
  font-size: 50px;
  width: 100px;
  border: none;
  text-align: center;
  border-radius: 50px;
}
/* 버튼 */
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Jua", sans-serif;
}
.button button {
  width: 50%;
  font-size: 40px;
  margin: 20px;
}
.button .cartBt {
  float: left;
  color: white;
  background-color: black;
  font-family: "Jua", sans-serif;
}
.button .buyBt {
  background-color: white;
  font-family: "Jua", sans-serif;
}
/* 디테일 컷 */
.detailCut {
  margin-top: 200px;
  width: 100%;
  font-family: "Jua", sans-serif;
}
.detailCut h2 {
  text-align: center;
  font-size: 90px;
}
.detailCut img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
/* 사이즈 */
.size {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  text-align: center;
}
.size p {
  font-size: 30px;
  font-weight: 700;
}

/* 반응형 */

@media screen and (max-width: 375px) {
  .main-letter {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .main-letter h2 {
    font-size: 35px;
    padding: 0 0 0 15px;
  }
  .main-letter p {
    font-size: 32px;
    padding: 0 0 20px 15px;
  }
  .count-wrap {
    margin: 18px;
  }
  .count-wrap p {
    font-size: 25px;
    text-align: center;
  }
  .count-wrap .minus,
  .count-wrap .plus {
    font-size: 30px;
    width: 40px;
  }
  .count-wrap .inp {
    font-size: 35px;
    width: 40px;
  }
  .button button {
    font-size: 20px;
  }
  .detailCut {
    margin-top: 100px;
  }
  .detailCut h2 {
    font-size: 45px;
  }
  .detailCut img {
    margin-top: 80px;
  }
  .size {
    margin-top: 90px;
    margin-bottom: 100px;
  }
  .size h2 {
    font-size: 30px;
  }
  .size p {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .main-letter {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .main-letter h2 {
    font-size: 32px;
    padding: 0 0 0 10px;
  }
  .main-letter p {
    font-size: 28px;
    padding: 0 0 20px 10px;
  }
  .count-wrap {
    margin: 18px;
    text-align: center;
  }
  .count-wrap p {
    font-size: 25px;
    text-align: center;
  }
  .count-wrap .minus,
  .count-wrap .plus {
    font-size: 30px;
    width: 40px;
  }
  .count-wrap .inp {
    font-size: 35px;
    width: 40px;
  }
  .button button {
    font-size: 20px;
  }
  .detailCut {
    margin-top: 100px;
  }
  .detailCut h2 {
    font-size: 45px;
  }
  .detailCut img {
    margin-top: 80px;
  }
  .size {
    margin-top: 90px;
    margin-bottom: 100px;
  }
  .size h2 {
    font-size: 30px;
  }
  .size p {
    font-size: 18px;
  }
}
