@charset "utf-8";
.goods {
  width: 100%;
  height: 100%;
}
.goods h2 {
  text-align: center;
}
.goods-img {
  width: 100%;
  height: 100%;
}
.goods-img ul {
  display: flex;
  justify-content: center;
}
