@charset "utf-8";
body{
  height: 2000px;
  background-color: #016ED5;
}

.wrap{
    width: 100%;
    /* height: auto; */
    /* background-color: #D9BA96; */
    margin: auto;
    position: relative;
}


/* =========지워진 영역 */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header > ul{
  display: flex;
  position: absolute;
  right: 0;
  top: 5px;
}
.header > ul > li{
  /* width: 300px; */
}
.header > ul > li > a{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 25px 10px;
  
}

/* =========지워진 영역 */



.background-area{
  position: relative;
  display: block;
  width: 100%;
  /* height: 30%; */
  height: 38%;
  background-color: #016ED5;
}
.animation{
  width: 100%;
  height: auto;
}
/* .character {
    width: 842px;
    height: 974px;
    scale: 25%;
    position: absolute;
    z-index: 9;
    bottom: 70%;
    left: 0;
    opacity: 0; 
    animation: bounce-in 4s ease-out forwards;
  } */
.character {
    /* content: ""; */
    width: 65%;
    height: 40%;
    background-color: aquamarine;
    /* scale: 90%; */
    background: url("/images/lala_character/lala_character02.png") center no-repeat;
    background-size: contain;
    /* background-color: #FF69B4; 캐릭터를 나타내는 박스 */
    /* border-radius: 50%; 둥근 모양으로 만들어 캐릭터 느낌 연출 */
    position: absolute;
    z-index: 9;
    bottom: 70%;
    left: 0;
    opacity: 0; /* 처음에 안보이도록 설정 */
    animation: bounce-in 4s ease-out forwards;
  }
  
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: translateY(-50%) ;
    }
    10% {
        opacity: 0;
        transform: translateX(-50%) translateY(20%);
    }
    
        30% {
        opacity: 1;
        transform: translateX(-30%) translateY(90%);
        }
        /* 30% {
          opacity: 1;
        transform: translateX(200%) translateY(300%);
        }
        40% {
        opacity: 1;
        transform: translateX(300%) translateY(300%);
        } */
        50% {
        opacity: 1;
        transform: translateX(0%) translateY(90%);
        }
        /* 60% {
          opacity: 1;
        transform: translateX(350%) translateY(100%);
        }
        70% {
        opacity: 1;
        transform: translateX(400%) translateY(300%);
        } */
        80% {
        opacity: 1;
        transform: translateX(20%) translateY(60%);
      }
      90% {
        opacity: 1;
        transform: translateX(76%) translateY(120%);
      }
      100%{
        opacity: 0;
        transform: translateX(76%) translateY(120%);
      }

  }

  @media screen and (max-width: 1110px) {
    
  }

  .animation{
    width: 100%;
    height: auto;
  }
  .character-in-cup1{
    background-image: url(/lala_character/empty-cup.png);
    width: 989px;
    height: 1079px ;
    position: absolute;
    scale: 33%;
    right: -200px;
    bottom: -453px;
    z-index: 999;
    /* transition: hide 0.4s; */
    /* animation: hideImage 4s forwards; */

  }

  .character-in-cup2{
    /* display: none; */
    /* content: ""; */
    /* background-color: aliceblue; */
    position: absolute;
    /* width: 1176px;
    height: 1880px; */
    scale: 23%;
    right: -292px;
    bottom: -789px;
    z-index: 999;
    /* background-image: url(/lala_character/cup-in-character.png);
    background-position: cover; */
    animation: showImage 4s forwards ;
  }

  
  @keyframes hideImage {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    84% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes showImage {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    97%{
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

.background-area .logo-area{
    display: block;
    width: 30%;
    height: auto;
    padding-left: 5%;
    padding-top: 1%;
    margin-bottom: 4%;

    /* background-color: rgba(154, 154, 255, 0.8);  */
}
.logo-area img{
    display: block;
    width: auto;
    height: 70px;
}

.banner-line{
  /* display: inline-block; */
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  color: aliceblue;
  /* background-color: rgb(120, 154, 250); */
  /* margin: 0 auto; */
  text-align: center;
  margin-bottom: 2%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner-title{
  /* position: absolute; */
  /* top: 15%; */
  /* left: 50%; */
  /* transform: translate(0 , -20%); */
  font-size: 60px;
  color: #ffacb3;
  text-align: center;
  font-weight: bolder;
  font-family: "Jua", sans-serif;
  letter-spacing: 3.4;
}

.banner-title span{
  font-size: 50px;
}
.banner-line br{
  display: block;
}

.nav-area{
  width: 100%;
  display: block;
  /* width: 830px; */
  margin: 0 auto;
  font-size: 3em;
  font-weight: bold;
  background-color: #016ED5;
  /* background-color: #d0e8ff; */
  margin-top: 50px;
}
.menu-nav{
  width: 830px;
  /* width: 100%; */
  margin-top: 40px;
  margin: 0 auto;
  height: auto;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  border: 5px solid #fff;
  border-radius: 25px;
}

.menu-nav li{
  position: relative;
  /* transition: all 1s; */
}

/* .menu-nav li:hover  */
.menu-nav li::after{
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  /* transition: all 1s; */
}
.menu-nav li:hover::after{
  width: 100%;
  opacity: 1;
  transition: all 1s;
}

@media screen and (max-width: 1024px) {
  .character {
    /* content: ""; */
    width: 50%;
    height: 40%;
  }
}

@media screen and (max-width: 900px) {
  .nav-area{
    /* font-size: 2em; */
  }
  .menu-nav{
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 90%
  }
  .background-area .logo-area{
    width: 90%;
    max-width: 300px;
    height: auto;
    /* background-color: azure; */
    padding: 5% 0;
    margin: 0 auto;
  }
  .logo-area img{
    width: 90%;
    /* height: 100%; */
    height: auto;

  }

  .banner-title {
    font-size: 44px;
    }
    
    .banner-title span {
    font-size: 38px;
    }
    
    .banner-line {
    font-size: 31px;
    }
    
}

@media screen and (max-width: 700px) {
.character-in-cup1{
  scale: 24%;
  /* right: -200px;
  bottom: -487px; */
  /* bottom: 10%; */
  /* transform: translate(-1%, 15%); */
  transform: translate(56%, 15%)
  

}

.character-in-cup2{
  scale: 17%;
  /* transform: translate(-1%, 17%); */
  transform: translate(67%, 17%);
  /* right: -292px;
  bottom: -840px; */
}
}

@media screen and (max-width: 500px){
  .character {
    /* content: ""; */
    width: 40%;
    height: 30%;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: translateY(-50%) ;
    }
    10% {
        opacity: 0;
        transform: translateX(-50%) translateY(20%);
    }
    
        30% {
        opacity: 1;
        transform: translateX(-30%) translateY(90%);
        }
  
        50% {
        opacity: 1;
        transform: translateX(0%) translateY(90%);
        }
 
        80% {
        opacity: 1;
        transform: translateX(20%) translateY(60%);
      }
  90% {
    opacity: 1;
    transform: translateX(76%) translateY(180%);
  }
  100%{
    opacity: 0;
    transform: translateX(76%) translateY(180%);
  }
}

  .background-area {
    height: 30%;
  }
  .banner-title {
    font-size: 36px;
    }
    
    .banner-title span {
    font-size: 31px;
    }
    
    .banner-line {
    font-size: 22px;
    }
}


.menu-nav li{
  display: block;
  /* padding: 20px; */
  /* width: calc(100% / 5); */
  margin: 30px;
  /* background-color: violet; */
}
.menu-nav li a{
  color: aliceblue;
}


