@charset "utf-8";
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 10px;
}


.wrap{
    width: 100%;
    height: 100%;
    /* background-color: #D9BA96; */
    margin: auto;
    position: relative;
}