@charset "utf-8";
.product{
    width: 90%;
    height: 800px;
    /* background-color: aquamarine; */
    margin: 0 auto;
}
.swProduct {
    width: 25%;
    height: 600px; /* 필요에 따라 컨테이너 높이 설정 */
    border: 15px solid aliceblue;
    border-radius: 15px;
    
  }


.product-dec{
    display: flex;
    /* align-items: center; */
}
.product h2{
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    margin: 4% 0;
    font-family: url("/font/CherryBombOne-Regular.ttf");
}


.swProduct .swiper-slide {
    height: auto; /* 자동 높이로 설정 */
    max-height: 200px; /* 필요에 따라 최대 높이 설정 */
    max-width: 200px; /* 필요에 따라 최대 높이 설정 */
    box-sizing: border-box; /* 패딩 포함 계산 */
    margin: 15% auto;
   
  }
.product-slide a{
    /* width: 300px;
    height: 300px; */
    width: 300px;
    height: 300px;
    /* background-color: aquamarine; */
    /* margin: 5% 0; */
}

.product-slide a img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 10px solid rgb(161, 225, 255);
}

.product-slide a p{
    font-size: 3rem;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin-top: 3%;
}
.product-slide a span{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}

/* 설명란 */
.decription{
    width: 60%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 25px;
    display: flex;
}
.pint{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
}

.pint .textbox{
    width: 35%;
    font-size: 20px;

}

.pint_img01{
    /* float: right; */
    /* display: block; */
    display: none;
    width: 55%;
    /* border: 10px solid cornflowerblue; */
    border-radius: 25px;
}
.pint_img02{
    display: block;
    /* display: none; */
    width: 55%;
    /* float: right; */
    border: 15px solid #fff;
    border-radius: 25px;
}